.graph-node {
    font-size: 10px;
    height: 20px;
    width: 20px;
    background-color: rgb(255, 251, 198);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.node-initial {
    background-color: rgb(189, 162, 252);
}

.node-final {
    background-color: rgb(255, 209, 255);
}